* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    background-color: lightgrey;
    display: flex;
    height: 100%;
    width: 100%;
}

.container {
    width: 80%;
    height: 100%;
    margin: 1rem 10% ;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(68, 57, 57);
}

.boton {
    margin: 3rem;
    padding: 1rem;
    background-color: limegreen;
    font-weight: bolder;
}

.tabla {
    margin: auto;
    background-color: mintcream;
}

th {
    width: 9rem;
}