* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    background-color: #8D94A1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    margin: 30px 0;
    font-size: 50px;
    text-align: center;
}

h2 {
    margin: 0 0 20px 0;
}

.container_uno p {
    margin: 20px 0;
}

.container_uno, .container_dos {
    display: block;
    width: 38%;
    margin: 0;
    padding: 30px;
    border: 2px solid #333;
    border-radius: 12px;
    background-color: #9E0038;
}

.main_container {
    color: beige;
    background-color: #BCC5D6;
    border: 5px double #000;
    width: 1200px;
    height: 500px;
    margin: auto;
    padding: 5% 7% 5%;
}

.container_uno {
    float: left;
}

.container_dos {
    float: right;
}

#boton, #botonC {
    width: 30%;
    padding: 6px;
    margin: 20px 0 0 0;
    border-radius: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}