/* Generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    background-color: rgb(90, 122, 13);
    color: lightgray;
    height: 100%;
    max-width: 600px;
    margin: 2rem 32%;
    padding: 2rem;
}

h3 {
    height: 40%;
    font-size: 1em;
}

p {
    height: 40%;
    font-size: 1em;
}

#boton {
    border-style: solid;
    border-radius: 1rem;
    width: 20%;
    min-width: 100px;
    margin: .3rem 0;
    padding: 1rem .3rem;
    font-size: 80%;
}