* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #8C8B89;
    color: #3B3B3B;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

h2 {
    font-size: 30px;
    margin: 0 0 20px 0;
}

table {
    width: 100%;
}

td {
    margin: 20px 50px;
    font-size: 18px;
    height: 27px;
}

.nombrep {
    font-size: 40px;
    margin: 30px 0 30px 0;
}

.container {
    width: 50%;
    margin: 0 25%;
    padding: 30px 5% 150px;
    border: solid 1px #3B3B3B;
    text-align: left;
    background-color: #D9D7D4;

}

.imagen {
    width: 40%;
    margin: auto;
}

.box-personal-info, .box-education-info, .box-experince-info, .box-reference-info{
    margin: 20px 0;
}

.datos {
    width: 300px;
}
